<%- include('../../components/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
   <%- include('../../components/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/products/edit" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% {%><%= product.title %><%} %>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image Irl</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<% {%><%= product.imageUrl %><%} %>">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" value="<% {%><%= product.price %><%} %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <input type="number" name="description" id="description" value="<% {%><%= product.description %><%} %>">
            </div>
            <input type="hidden" name="id" id="id" value="<% {%><%= product.id %><%} %>">

            <button class="btn" type="submit">Add Product</button>
        </form>
    </main>
<%- include('../../components/end.ejs') %>
