<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/shop' ? 'active' : '' %>" href="/shop">Shop</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/shop/card' ? 'active' : '' %>" href="/shop/card">Card</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/shop/checkout' ? 'active' : '' %>" href="/shop/checkout">Checkout</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/products/add' ? 'active' : '' %>" href="/admin/products/add">Add product</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin products</a>
            </li>
        </ul>
    </nav>
</header>
