<%- include('../components/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../components/navigation.ejs') %>

<main>
    <h1>Title: <%= product.title %></h1>
    <hr>
    <div>
        <img src="<%= product.imageUrl %>" alt="alt">
    </div>
    <h2>Price:<%= product.price %></h2>
    <p>Description: <%= product.description %></p>
    <%- include('../components/add-to-card-form.ejs', {product: product}) %>
</main>
<%- include('../components/end.ejs') %>
